#root {
  margin: 0 auto;
}

.main {
  height: calc(100vh - 49px);
  width: 40vw;
  overflow: clip;
}

.tabContent {
  height: calc(100vh - 41px - 49px);
  overflow: scroll;
}

.app {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.map {
  height: calc(100vh - 49px);
  width: 60vw;
}
