ul {
  margin: 0;
  list-style: none;
}
li {
}
.item {
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre;
  user-select: none;
}

.item code {
  color: cyan;
}
